* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  height: 902px;
  width: 1920px;
  background: white;
  font-family: "Ubuntu", sans-serif;
}
.sign-in {
  height: 514px;
  width: 540px;
  margin: auto;
  top: 97px;
  bottom: 292px;
  border-radius: 3px;
  background: white;
  font-family: "Ubuntu", sans-serif;
  box-shadow: 0px 0px 10px 0px rgb(173, 171, 171);
  position: relative;
  margin-bottom: 93px;
}
form {
  margin: auto;
  width: 406px;
}
form input {
  width: 100%;
  height: 46px;
  border: none;
  border: 1px solid rgb(219, 217, 217);
  font-size: 14px;
  border-radius: 5px;
  font-weight: bolder;
  color: #444a5d;
}
form label {
  display: inline-block;
  font-weight: 900;
  font-size: 14px;
}
button {
  width: 100%;
  height: 47px;
  border: none;
  background: #635bff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  font-family: inherit;
  box-sizing: content-box;
}
button:hover {
  cursor: pointer;
  background: #6a65d1;
}
h1 {
  font-size: 25px;
  margin-left: 67px;
  font-family: "Rubik", sans-serif;
  color: #444a5d;
  padding: 61px 0 0 0;
}

a {
  text-decoration: none;
  color: #635bff;
  font-weight: bolder;
}
.email {
  padding-bottom: 16px;
  padding-top: 24px;
  color: #444a5d;
}
.password {
  padding-bottom: 15px;
  padding-top: 34px;
  display: inline-block;
  color: #444a5d;
}
#quest2 {
  margin-left: 201.5px;
  font-size: 13px;
  color: #635bff;
}
#checkbox {
  height: 17px;
  width: 15px;
  display: inline-block;
  padding-top: 60px;
  vertical-align: auto;
}

#pale3 {
  color: #444a5d;
  font-size: 14px;
  font-weight: bolder;
  padding-top: 33px;
  padding-bottom: 31px;
}
.quest1 {
  position: relative;
  padding-top: 37px;
  margin-left: 709px;
  font-weight: bolder;
  font-size: 15px;
  color: rgb(70, 68, 68);
  text-align: left;
  font-family: "Ubuntu", sans-serif;
}

.pale2 {
  text-align: left;
  position: relative;
  margin-left: 709px;
  font-weight: 1000;
  font-size: 14.5px;
  color: grey;
  margin-top: 224px;
  bottom: 25px;
}
.pale2:hover {
  cursor: pointer;
}
@media screen and (max-width: 1366px) {
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden !important;
    overflow-x: hidden !important; */
  }
  .sign-in {
    height: 414px;
    width: 440px;
    margin: auto;
    top: 77px;
    border-radius: 3px;
    background: white;
    font-family: "Ubuntu", sans-serif;
    box-shadow: 0px 0px 10px 0px rgb(173, 171, 171);
    position: relative;
    margin-bottom: 93px;
  }
  form {
    margin: auto;
    width: 70%;
  }
  form input {
    width: 100%;
    height: 36px;
    border: none;
    border: 1px solid rgb(219, 217, 217);
    font-size: 14px;
    border-radius: 5px;
    font-weight: bolder;
    color: #444a5d;
  }
  form label {
    display: inline-block;
    font-weight: 900;
    font-size: 13px;
  }
  button {
    width: 100%;
    height: 37px;
    border: none;
    background: #635bff;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    font-family: inherit;
    box-sizing: content-box;
  }
  button:hover {
    cursor: pointer;
    background: #6a65d1;
  }
  h1 {
    font-size: 23px;
    margin-left: 67px;
    font-family: "Rubik", sans-serif;
    color: #444a5d;
    padding: 41px 0 0 0;
  }
  .email {
    padding-bottom: 8px;
    padding-top: 18px;
    color: #444a5d;
  }
  .password {
    padding-bottom: 12px;
    padding-top: 24px;
    display: inline-block;
    color: #444a5d;
  }
  #quest2 {
    margin-left: 123px;
    font-size: 12px;
    color: #635bff;
  }
  #checkbox {
    height: 15px;
    width: 14px;
    display: inline-block;
    padding-top: 40px;
    vertical-align: auto;
  }

  #pale3 {
    color: #444a5d;
    font-size: 14px;
    font-weight: bolder;
    padding-top: 33px;
    padding-bottom: 31px;
  }
  .quest1 {
    position: relative;
    padding-top: 15px;
    padding-bottom: 35px;
    margin-left: 570px;
    font-weight: bolder;
    font-size: 15px;
    color: rgb(70, 68, 68);
    text-align: left;
    font-family: "Ubuntu", sans-serif;
  }

  .pale2 {
    text-align: left;
    position: relative;
    margin-left: 490px;
    font-weight: 1000;
    font-size: 14px;
    color: grey;
    margin-top: 30px;
    bottom: 25px;
  }
  .pale2:hover {
    cursor: pointer;
  }
}
@media screen and (max-width: 768px) {
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden !important;
    overflow-x: hidden !important; */
  }
  .sign-in {
    height: 414px;
    width: 440px;
    margin: auto;
    top: 27px;
    border-radius: 3px;
    background: white;
    font-family: "Ubuntu", sans-serif;
    box-shadow: 0px 0px 10px 0px rgb(173, 171, 171);
    position: relative;
    margin-bottom: 93px;
  }
  form {
    margin: auto;
    width: 70%;
  }
  form input {
    width: 100%;
    height: 36px;
    border: none;
    border: 1px solid rgb(219, 217, 217);
    font-size: 14px;
    border-radius: 5px;
    font-weight: bolder;
    color: #444a5d;
  }
  form label {
    display: inline-block;
    font-weight: 900;
    font-size: 13px;
    width: 100%;
  }
  button {
    width: 100%;
    height: 37px;
    border: none;
    background: #635bff;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    font-family: inherit;
    box-sizing: content-box;
  }
  button:hover {
    cursor: pointer;
    background: #6a65d1;
  }
  h1 {
    font-size: 23px;
    margin-left: 67px;
    font-family: "Rubik", sans-serif;
    color: #444a5d;
    padding: 41px 0 0 0;
  }
  .email {
    padding-bottom: 8px;
    padding-top: 18px;
    color: #444a5d;
  }
  .password {
    padding-bottom: 12px;
    padding-top: 24px;
    display: inline-block;
    color: #444a5d;
  }
  #quest2 {
    margin-left: 123px;
    font-size: 12px;
    color: #635bff;
  }
  #checkbox {
    height: 13px;
    width: 13px;
    display: inline-block;
    vertical-align: auto;
    padding-top: 400px;
  }

  #pale3 {
    color: #444a5d;
    font-size: 14px;
    font-weight: bolder;
    padding-top: 33px;
    padding-bottom: 31px;
  }
  .quest1 {
    position: relative;
    padding-top: 15px;
    padding-bottom: 35px;
    margin-left: 270px;
    font-weight: bolder;
    font-size: 15px;
    color: rgb(70, 68, 68);
    text-align: left;
    font-family: "Ubuntu", sans-serif;
  }

  .pale2 {
    text-align: left;
    position: relative;
    margin-left: 190px;
    font-weight: 1000;
    font-size: 14px;
    color: grey;
    margin-top: 30px;
    bottom: 25px;
  }
  .pale2:hover {
    cursor: pointer;
  }
}
